<div class="card bg-primary text-primary-content mb-5">
  <div class="card-body">
    <h2 class="card-title">Create new topic</h2>
    <p>As a premium user, you can suggest your own topics.</p>
    <div class="card-actions justify-end">
      <%= link_to "Create new topic", new_topic_url, class: "btn", data: { "turbo-frame": "_top" } %>
    </div>
  </div>
</div>
