<div class="prose">
  <h1>Topics</h1>
</div>

<ul>
  <%= turbo_stream_from "topics"%>
  <%= turbo_frame_tag "topics" do %>
      <% @topics.each do |topic| %>
        <%= render "topics/topic", topic: topic %>
      <% end %>
  <% end %>
</ul>

<%= link_to "New Topic", new_topic_path, class: "btn btn-primary" %>
