<h1 class="prose lg:prose-xl">Topics</h1>
<ul>
  <% @topics.each do |topic| %>
    <li>
      <h4><%= link_to topic.title, topic %></h4>
      <p><%= topic.body%></p>
    </li>
  <% end %>
</ul>

<%= link_to "New Topic", new_topic_path, class: "btn btn-primary" %>
