<article class="prose">
  <h1><%= @topic.title %></h1>

  <p><%= @topic.body %></p>
</article>

<div class="mt-10">
  <%= link_to "Edit", edit_topic_path(@topic), class: "btn btn-primary" %>
  <%= link_to "Delete", topic_path(@topic), class: "btn btn-primary" , data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
</div>