<dialog id="turbo-confirm">
    <form method="dialog" class="alert shadow-lg bg-white">
      <p>Are you sure?</p>
      <div class="flex-none">
        <button value="cancel" class="btn btn-sm btn-ghost">Cancel</button>
        <button value="confirm" class="btn btn-sm btn-primary">Confirm</button>
      </div>
    </form>
</dialog>